
<div class="container">
<div class="explore">
    <h1>Explore Our <span>Services</span></h1>
</div>

<div class="servicesRO">
    <div class="services">
        <img src="../../../assets/gardening.svg" alt="gardening">
        <h4>Gardening Services</h4>
    </div>
    <div class="services">
        <img src="../../../assets/plug.svg" alt="Electricity">
        <h4>Electric Services</h4>
    </div>
    <div class="services">
        <img src="../../../assets/shovel.svg" alt="construction">
        <h4>Construction Services</h4>
    </div>
</div>

<div class="servicesRT">
    <div class="services">
        <img src="../../../assets/maid.svg" alt="cleaning">
        <h4>Cleaning Services</h4>
    </div>
    <div class="services">
        <img src="../../../assets/repairing-service.svg" alt="repair">
        <h4>Repair Services</h4>
    </div>
    <div class="services">
        <img src="../../../assets/customer.svg" alt="">
        <h4><a routerLink='services'>More Services</a></h4>
    </div>
</div>
</div>