<footer class="page-footer font-small teal pt-4">

  <!-- Material form contact -->
<mdb-card>

    <mdb-card-header class="teal white-text text-center py-4">
      <h5>
        <strong>Contact us</strong>
      </h5>
    </mdb-card-header>
  
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
  
      <!-- Form -->
      <form class="text-center" style="color: #757575;">
  
      
        <div class="md-form mt-3">
          <input type="text" id="materialContactFormName" class="form-control" mdbInput>
          <label for="materialContactFormName">Name</label>
        </div>
        <div class="md-form mt-3">
          <input type="text" id="materialContactFormPhone" class="form-control" mdbInput>
          <label for="materialContactFormPhone">Phone Number</label>
        </div>
  
      
        <div class="md-form">
          <input type="email" id="materialContactFormEmail" class="form-control" mdbInput>
          <label for="materialContactFormEmail">E-mail</label>
        </div>
  
        
        <div class="md-form">
          <textarea type="text" id="materialContactFormMessage" class="form-control md-textarea" mdbInput></textarea>
          <label for="materialContactFormMessage">Message</label>
        </div>
  
      
  
        <button mdbBtn color="teal" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
          type="submit">Send</button>
  
      </form>
  
    </mdb-card-body>
  
  </mdb-card>

    <div class="container">

        <div class="row">
  
          <div class="col-md-12 py-5">
            <div class="mb-5 flex-center">
  
              <a class="fb-ic">
                <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
              </a>

              <a class="tw-ic">
                  <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
              </a>

              <a class="gplus-ic">
                  <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
              </a>

              <a class="ins-ic">
                  <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
              </a>
            </div>
          </div>
  
        </div>
  
      </div>

    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://github.com/The-Garys/Garys-work">Gary Works</a>
    </div>

  </footer>
