.footer-section {
  margin-top: 2%;
}

.formcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

form {
  width: 65%;
}

h5 {
  font-size: 50px;
}
.fa{
  margin-right:0.5rem;
}
.send-btn{
  width:30%;

}

.text{
  margin-top:2rem;
}