<app-sv-nav></app-sv-nav>

<div class="body">
  <div class="cont">
    <div class="container">
      <div class="profile-header">
        <div class="profile-image">
          <img src="{{ spData?.imageUrl }}" alt="" width="200" />
        </div>
        <div class="profile-nav-info">
          <h3 class="user-name">{{ spData?.fullName }}</h3>
          <div class="adress">
            <p class="state">{{ spData?.location }}</p>
          </div>
        </div>
        <div *ngIf="!visitor" class="profile-option">
          <div class="notification">
            <i class="fa fa-bell"></i>
            <span class="alert-message">1</span>
          </div>
        </div>
      </div>
      <div class="main-bd">
        <div class="left-side">
          <div class="profile-side">
            <p class="phone-number">
              <i class="fa fa-phone"></i>
              {{ spData?.phoneNumber }}
            </p>
            <p class="email">
              <i class="fa fa-envelope"></i>
              {{ spData?.email }}
            </p>
            <p class="user-profession">
              <i class="fas fa-tools"></i>
              {{ spData?.profession }}
            </p>
            <div class="user-bio">
              <h3>Bio:</h3>
              <p class="bio">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Inventore vero eaque corrupti debitis, ut nobis! Lorem ipsum
                dolor sit amet.
              </p>
            </div>
            <div class="profile-btn">
              <button class="chatbtn"><i class="fa fa-comment"></i>Chat</button>
            </div>
            <button *ngIf="visitor"
              type="button"
              mdbBtn
              color="primary"
              class="relative waves-light"
              (click)="basicModal.show()"
              mdbWavesEffect
            >
              make appointment
            </button>

            <div
              mdbModal
              #basicModal="mdbModal"
              id="modal"
              class="modal fade"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myBasicModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="close pull-right"
                      aria-label="Close"
                      (click)="basicModal.hide()"
                    >
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="appointment">
                      <input type="date" class="date" #date />
                      <input
                        type="time"
                        class="time"
                        #time
                        id="appt"
                        name="appt"
                        min="09:00"
                        max="18:00"
                        required
                      />
                      <div class="md-form">
                        <input
                          mdbInput
                          type="text"
                          #name
                          id="form1"
                          class="form-control"
                        />
                        <label for="form1" class="label">userName</label>
                      </div> -->
                      <!-- <div class="md-form">
                        <input
                          mdbInput
                          type="text"
                          #email
                          id="form1"
                          class="form-control"
                        />
                        <label for="form1" class="label">e-mail</label>
                      </div> -->
                      <!-- <div class="md-form">
                        <input
                          mdbInput
                          type="text"
                          #svname
                          id="form1"
                          class="form-control"
                        />
                        <label for="form1" class="label"
                          >ServiceProviderName</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                     (click)="submit(name.value , email.value , date.value , svname.value , time.value)"
                      type="button"
                      mdbBtn
                      color="primary"
                      class="relative waves-light"
                      mdbWavesEffect
                    > 
                      Send
                    </button>
                    <button
                      type="button"
                      mdbBtn
                      color="secondary"
                      class="waves-light"
                      aria-label="Close"
                      (click)="basicModal.hide()"
                      mdbWavesEffect
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="user-rating">
              <h3 class="rating">4.5</h3>
              <div class="rate">
                <div class="stars">
                  <i class="fa fa-star"></i><i class="fa fa-star"></i
                  ><i class="fa fa-star"></i><i class="fa fa-star"></i
                  ><i class="fa fa-star"></i>
                </div>
                <span class="no-user"
                  ><span> 123</span>&nbsp;&nbsp; Reviews
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="right-side">
          <div class="nav">
            <ul>
              <li
                class="user-post active"
                [class.active]="posts"
                (click)="post()"
              >
                Posts
              </li>
              <li
                class="user-review"
                [class.active]="reviews"
                (click)="review()"
              >
                Reviews
              </li>
              <li *ngIf="visitor1"
                class="user-setting"
                [class.active]="settings"
                (click)="setting()"
              >
                My appointments
              </li>
            </ul>
          </div>
          <div class="profile-body">
            <div
              class="profile-posts tab active"
              id="profile-posts"
              *ngIf="posts"
            >
              <h1>Your posts</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea
                nisi vitae harum corporis neque accusamus. Dicta a est sit
                maiores provident porro alias odit corrupti doloribus voluptates
                quae, quas totam impedit consequatur ipsum nobis mollitia
                voluptas cumque recusandae laudantium asperiores vel odio?
                Voluptatem dolorum perferendis, repudiandae harum quasi vel
                animi quas quidem est inventore nobis, beatae nihil vero
                distinctio commodi autem non et quia at neque? Nam aut optio
                hic.
              </p>
            </div>
            <div
              class="profile-reviews tab"
              id="profile-reviews"
              *ngIf="reviews"
            >
              <app-reviews></app-reviews>
            </div>
            <div
              class="profile-settings tab"
              id="profile-settings"
              *ngIf="settings"
            >
              <!-- <h1>Account setting</h1> -->
              <!-- <p> -->
                <!-- <app-appointment></app-appointment> -->
                <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Provident esse vel doloribus in natus numquam quis tempora
                suscipit voluptas? Aperiam minus voluptatem, facere nostrum
                molestias iure a optio libero expedita quod neque ipsam veniam
                labore maxime exercitationem asperiores ipsum, iste tempora
                officia. Deleniti reiciendis, cumque officiis unde ab ad ut
                iure, ea consequatur sed explicabo vero esse repellat,
                temporibus atque voluptatibus dicta at enim delectus molestiae!
                Debitis laboriosam tempora adipisci. -->
              <!-- </p> -->
           <div  *ngIf="visitor1">
 <div class=card *ngFor='let e of data'>
   
  
  
  <p>you have an appointment on: {{e.date}}</p>
  <p>at {{e.time}}</p>
  <h1>By: {{e.userName}}</h1>
  
   
 </div>
</div>   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


