<app-sv-nav></app-sv-nav>

<div class="body">
  <div class="cont">
    <div class="container">
      <div class="profile-header">
        <div class="profile-image">
          <img src="{{ spData?.imageUrl }}" alt="" width="200" />
        </div>
        <div class="profile-nav-info">
          <h3 class="user-name">{{ spData?.fullName }}</h3>
          <div class="adress">
            <p class="state">{{ spData?.location }}</p>
          </div>
        </div>
        <div *ngIf="!visitor" class="profile-option">
          <div class="notification">
            <i class="fa fa-bell" (click)="appointment()"></i>
            <span class="alert-message">{{ notifications }}</span>
          </div>
        </div>
      </div>
      <div class="main-bd">
        <div class="left-side">
          <div class="profile-side">
            <p class="phone-number">
              <i class="fa fa-phone"></i>
              {{ spData?.phoneNumber }}
            </p>
            <p class="email">
              <i class="fa fa-envelope"></i>
              {{ spData?.email }}
            </p>
            <p class="user-profession">
              <i class="fas fa-tools"></i>
              {{ spData?.profession }}
            </p>
            <div class="user-bio">
              <h3>Bio:</h3>
              <p class="bio">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Inventore vero eaque corrupti debitis, ut nobis! Lorem ipsum
                dolor sit amet.
              </p>
            </div>
            <div class="profile-btn">
              <button class="chatbtn"><i class="fa fa-comment"></i>Chat</button>
            </div>
            <button *ngIf="visitor" type="button" mdbBtn color="primary" class="relative waves-light"
              (click)="basicModal.show()" mdbWavesEffect>
              make appointment
            </button>

            <div mdbModal #basicModal="mdbModal" id="modal" class="modal fade" tabindex="-1" role="dialog"
              aria-labelledby="myBasicModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close"
                      (click)="basicModal.hide()"></button>
                  </div>
                  <div class="modal-body">
                    <div class="appointment">
                      <input type="date" class="date" #date />
                      <input type="time" class="time" #time id="appt" name="appt" min="09:00" max="18:00" required />
                      <div class="md-form">

                      </div>
                      <div class="md-form">

                      </div>
                      <div class="md-form">

                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button (click)="submit(date.value, time.value)" type="button" mdbBtn color="primary"
                      class="relative waves-light" mdbWavesEffect>
                      Send
                    </button>
                    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                      (click)="basicModal.hide()" mdbWavesEffect>
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="user-rating">
              <h3 class="rating">4.5</h3>
              <div class="rate">
                <div class="stars">
                  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
                <span class="no-user"><span> 123</span>&nbsp;&nbsp; Reviews
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="right-side">
          <div class="nav">
            <ul>
              <li class="user-post active" [class.active]="posts" (click)="post()">
                Posts
              </li>
              <li class="user-review" [class.active]="reviews" (click)="review()">
                Reviews
              </li>
              <li *ngIf="visitor1" class="user-setting" [class.active]="appointments" (click)="appointment()">
                My appointments
              </li>
              <li *ngIf="!visitor" class="user-review" [class.active]="settings" (click)="setting()">
                Settings
              </li>
            </ul>
          </div>
          <div class="profile-body">
            <div class="profile-posts tab active" id="profile-posts" *ngIf="posts">
              <h1>Your posts</h1>
              <button class="button button1" 
              type="submit" (click)="displayForm()" *ngIf="!editable">add</button>
              <br/>
              <div class="post-formm" *ngIf="editable">
                  <div class="form-title">

                    <label class="labelss" for="fname">Title:</label>
                    <br/>
                    <input #title type="text"  name="fname">
                  </div>
                <br/>
                <div class="form-desc">
                  <label class="labelss"  for="fname">Description:</label>
                  <br/>
                  <!-- <input #decription type="text" id="fname" name="fname"> -->
                  <textarea #decription name="" id="" cols="30" rows="10"></textarea>
                </div>
                <br/>
                <div class="form-date">

                  <label class="labelss"  for="fname">Date:</label>
                  <br>
                  <input  #date type="text"  name="fname">
                </div>
                <button class="save-btn" (click)="Add(title.value,decription.value,date.value)">Save</button>
              </div>
             
              <div *ngFor="let e of spPosts" class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                      src="https://images.theconversation.com/files/138166/original/image-20160919-17029-2dn60d.jpg?ixlib=rb-1.1.0&rect=0%2C94%2C5760%2C2793&q=45&auto=format&w=1356&h=668&fit=crop"
                      alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>{{e.title}}</h1>
                    <p>{{e.description}}</p>
                    <p>{{e.date}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="profile-posts tab active" id="profile-settings" *ngIf="settings">
              <h1>Your settings</h1>


              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea
                nisi vitae harum corporis neque accusamus. Dicta a est sit
                maiores provident porro alias odit corrupti doloribus voluptates
                quae, quas totam impedit consequatur ipsum nobis mollitia
                voluptas cumque recusandae laudantium asperiores vel odio?
                Voluptatem dolorum perferendis, repudiandae harum quasi vel
                animi quas quidem est inventore nobis, beatae nihil vero
                distinctio commodi autem non et quia at neque? Nam aut optio
                hic.
              </p>
            </div>
            <div class="profile-reviews tab" id="profile-reviews" *ngIf="reviews">
              <app-reviews></app-reviews>
            </div>
            <div class="profile-settings tab" id="profile-settings" *ngIf="appointments">
              <div *ngIf="visitor1">
                <div class="card" *ngFor="let e of data">
                  <p>you have an appointment on: {{ e.date }}</p>
                  <p>at {{ e.time }}</p>
                  <h1>By: {{ e.userName }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>