<div>
    <h1>Users</h1>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
            <tr>
             <th>First Name</th>
             <th>Last Name</th>
             <th>Phone Number</th>
             <th>Email</th>
             <th>Reports</th>
             <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let user of users'>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.phoneNumber}}</td>
                <td>{{user.email}}</td>
                <td>0</td>
                
                <td><button type="button" (click)='ban(user._id)' class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>