<div id="curve">
  <div id="header">
    <div id="logo">
      <h3><span>Gary</span>Work</h3>
    </div>
    <nav>
      <a routerLink="">Home</a>
      <!-- <a href="" (click)='scroll()'>Contact Us</a> -->
      <a [routerLink]="['/userServices']">Services</a>
      <a *ngIf="!userId && !serviceProviderEmail" id="connection" [routerLink]="['/signin']">Get Started</a>
      <img *ngIf=" serviceProviderEmail"  (click)='redirectSp()' class="user-avatar" src={{profileImg}} alt="">
      <a *ngIf="userId || serviceProviderEmail" (click)="logout()"  id="connection">Logout</a>
    </nav>
  </div>
</div>
