* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
.testimonials {
  text-align: center;
}
.inner h1 {
  font-size: 33px;
  color: #fff;
  font-weight: bold;
}
.cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  width: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .card {
  position: relative;
  max-width: 360px;
  height: 250px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(0, 247, 255) 0%,
    rgb(13, 82, 187) 35%,
    rgb(1, 22, 212) 100%
  );
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.container .card:hover {
  height: 420px;
  cursor: pointer;
}
.container .card .imgBx {
  border-radius: 50%;
  position: relative;
  width: 150px;
  height: 150px;
  top: -60px;
  left: 75px;
  z-index: 1;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
.container .card .imgBx img {
  width: 120%;
  height: 120%;
  border-radius: 50%;
  max-height: 160px;
}
.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
.content h2 {
  color: #fff;
}
.content p {
  color: #fff;
}
// .row {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }
// .col {
//   flex: 33.33%;
//   max-width: 33.33%;
//   box-sizing: border-box;
//   padding: 15px;
// }
// .testimonial {
//   background: #fff;
//   padding: 30px;
// }
// .testimonial img {
//   width: 100px;
//   height: 100px;
//   border-radius: 50%;
// }
// .name {
//   font-size: 20px;
//   text-transform: uppercase;
//   margin: 20px 0;
// }
// .stars {
//   color: #6ab04c;
//   margin-bottom: 20px;
// }

// @media screen and (max-width: 960px) {
//   .col {
//     flex: 100%;
//     max-width: 80%;
//   }
// }

// @media screen and (max-width: 600px) {
//   .col {
//     flex: 100%;
//     max-width: 100%;
//   }
// }
