<!-- <app-user-nav></app-user-nav -->
<div class="filter">
  <div class="md-form md-outline form-sm">
    <input
      id="form-sm"
      (keyup)="getVal($event.target.value)"
      class="form-control form-control-sm"
      type="text"
      mdbInput
    />
    <label for="form-sm">name</label>
  </div>

  <select class="dropbtn" (change)="dropVal($event.target.value)">
    <option class="dropdown-content" value="Profession">profession</option>
    <option
      class="dropdown-content"
      *ngFor="let sevice of list"
      value="{{ sevice.profession }}"
    >
      {{ sevice?.profession }}
    </option>
    
  </select>
  <div class="md-form md-outline form-sm">
    <!-- <input
      id="loc"
      (keydown.enter)="$event.preventDefault()"
      (keyup)="dropLoc($event.target.value)"
      class="form-control form-control-sm"
      type="text"
      mdbInput
      placeholder="Choose your adress please"
      autocorrect="off" autocapitalize="off"  spellcheck="off"
      #search
    /> -->
      
    <button (click)='viewMap()'>Search By Location</button>

    <!-- <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Choose your adress please" autocorrect="off" autocapitalize="off"  spellcheck="off" type="text" #search > -->

  </div>
  
</div>

<div *ngIf='map' id="map">
  <agm-map (mapClick)='onLocChange($event)' [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map>

</div>
<h5 *ngIf='map'>Address: {{address}}</h5>

<div class="cont-cards">
    <div class="card-cont"*ngFor="let e of services">
      <div class="card mb-3"  (click)='goSvProfile(e.email)' id="whole-card">
        <div class="img__cont">
          <img src="{{ e.imageUrl }}" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
          <div class="sp__name-rate">
            <h3 class="sp__name">{{ e.fullName }}</h3>
            <h3 class="sp__name" id="rate">
              <ngb-rating class="rating-readonly" [rate]="e.rate"></ngb-rating>
            </h3>
          </div>
          <h4 class="card-title">{{ e.profession }}</h4>
          <h5 class="card-title">{{ e.location }}</h5>

          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
</div>
