// .card-cont {
//   width: 100% !important;
//   align-items: center;
//   margin-top: 7rem;
// }
// #body{
//   background-color: pink;
// }
.card-img-top {
  margin-left: 33%;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  margin-top: 1.5%;
  border: 3px solid #fff;
}
#whole-card {
  margin-top: 3rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: 0.3s ease-in-out;
  border-radius: 6px;
  display: flex;
  float: left;
  margin-left: 6%;
}
#whole-card:hover {
  transform: translateY(-30px);
}
.mb-3 {
  width: 25%;
  margin: auto;
  align-items: center;
  margin-left: 1rem;
}
.card-body {
  width: 100%;
}
.img__cont {
  width: 100%;
  height: 8rem;
  align-items: center;
  border-radius: 6px 6px 0px 0px;
}
.sp__name {
  display: inline-block;
}
#rate {
  float: right;
}
.md-form {
  width: 15%;
  height: 30%;
  margin-right: 1rem;
  margin-top: 1rem;
}
.filter {
  margin: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

filter div {
  margin: 2% !important;
}

.container {
  margin: auto;
}

.dropbtn {
  background-color: blue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 15%;
  height: 20%;
  margin-left: 1rem;
  padding: 0.5%;
  margin-top: 1%;
}

.dropdown-content {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: white;
}

#loc {
  margin-left: 2rem;
}
#label {
  margin-left: 2.2rem;
}
.fas {
  color: rgb(66, 66, 66);
  margin-right: 0.5rem;
}
.card-text {
  font-size: 15px;
}
// h3{
//   font-family:'Times New Roman', Times, serif;
// }
