img {
  width: 200px;
  height: 150px;
}

.card {
  height: 100%;
}

button {
  float: right;
}

#info {
  margin-right: 5%;
  position: absolute;
  top: 60px;
  right: 0;
  width: 70%;
  height: 50%;
}
