<div>
<mdb-card  class="m-5 card" *ngFor='let request of requests' id="req">
    <mdb-card-body>
      <div id="info">
        <p>{{request.description}}</p>
      </div>
      <mdb-card-title>
          <img src={{request.imageUrl}} alt="">
        <h5>{{request.fullName}}</h5>
        <h6 class="text-muted mb-2">{{request.profession}}</h6>
      </mdb-card-title>
      <mdb-card-text>
        <ul>
            <li>{{request.CIN}}</li>
            <li>{{request.phoneNumber}}</li>
        </ul>
      </mdb-card-text>
      <button mdbBtn type="button" color="success" (click) ='verifyAcc(request._id)' mdbWavesEffect>Verify Account</button>
      <button mdbBtn type="button" color="warning" (click)='reject(request._id)' mdbWavesEffect>Decline</button>
      <div class="position-absolute top-0 start-100 translate-middle pff"></div>


    </mdb-card-body>
  </mdb-card>
</div>