<mdb-card id="req">
    <mdb-card-body>
      <mdb-card-title>
          <img src="https://miro.medium.com/max/1838/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" alt="">
        <h5>service provider</h5>
        <h6 class="text-muted mb-2">profession</h6>
      </mdb-card-title>
      <mdb-card-text>
        <ul>
            <li>cin</li>
            <li>bin</li>
        </ul>
      </mdb-card-text>
      <a href="#!" class="card-link">Accept</a>
      <a href="#!" class="card-link">Decline</a>
    </mdb-card-body>
  </mdb-card>