<div id="curve">
<div id="header">
    <div id="logo">
        <h3><span>Gary</span>Work</h3>
    </div>
<nav>
    <a routerLink=''>Home</a>
    <a href="">About Us</a>
    <a routerLink='services'>Services</a>
    <a id="connection" (click)="disconnect()" >disconnect</a>
    <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" style="width: 50px; height: 50px; border-radius: 50%;">

</nav>

</div>
</div>