<div class="bd-container">
  <h2 class="review-title">Rating and Reviews</h2>
  <div class="gen-container">
    <div class="left">
      <div class="cont-rating">
        <h1 class="rate">3.5</h1>
        <div class="stars-cont">
          <i class="far fa-star"></i><i class="far fa-star"></i
          ><i class="far fa-star"></i> <i class="far fa-star"></i
          ><i class="far fa-star"></i>
        </div>
      </div>
      <p>100% of reviews recommend this Service Provider</p>
      <div class="rating-range">
        <label for="5 stars" class="no-stars">5 stars</label>
        <div class="rating-bar">
          <div id="bar5" class="bar">
            <div></div>
          </div>
        </div>
      </div>
      <div class="rating-range">
        <label for="5 stars" class="no-stars">4 stars</label>
        <div class="rating-bar">
          <div id="bar4" class="bar"></div>
        </div>
      </div>
      <div class="rating-range">
        <label for="5 stars" class="no-stars">3 stars</label>
        <div class="rating-bar">
          <div id="bar3" class="bar"></div>
        </div>
      </div>
      <div class="rating-range">
        <label for="5 stars" class="no-stars">2 stars</label>
        <div class="rating-bar">
          <div id="bar2" class="bar"></div>
        </div>
      </div>
      <div class="rating-range">
        <label for="5 stars" class="no-stars">1 stars</label>
        <div class="rating-bar">
          <div id="bar1" class="bar"></div>
        </div>
      </div>
    </div>
    <div class="container">sdfsdfds</div>
  </div>
</div>
