.text-center {
  width: 50%;
}
.mdb-card {
  margin-left: 33%;
}
.mdb-card {
  width: 35%;
}
.card-body {
  width: 187%;
}
.info-color {
  width: 100%;
  background-color: #33b5e5;
}
strong {
  color: white;
}
